.gallery-container {
      margin-left: auto;
      margin-right: auto;
      column-count: 3;
      width: 90%;
      padding: 20px;
}

.mItem li {
      display: flex;
      flex-direction: column;
      gap: 50px;
}

.gallery-link {
      opacity: 0;
      transform: translate(0, 50%);
      visibility: hidden;
      transition:
            opacity 300ms ease-out,
            transform 300ms ease-out;
      will-change: opacity, visibility;
}

.is-visible {
      opacity: 1;
      transform: none;
      visibility: visible;
      display: flex;
}

@media (max-width: 1199px) {
      .masonry {
            column-count: 3;
      }
}

@media (max-width: 991px) {
      .masonry,
      .gallery-container {
            column-count: 2;
      }
}

@media (max-width: 640px) {
      /* .masonry, */
      .container {
            display: flex;
            justify-content: center;
      }

      .gallery-container {
            column-count: 1;
      }
}

@media (min-width: 1600px) {
      .gallery-container {
            width: 90%;
      }
}

@keyframes animateRocket {
      0% {
            opacity: 0;
      }

      100% {
            opacity: 1;
      }
}
